beautifulsoup4==4.12.3
chardet==5.2.0
click==8.1.8
grpcio==1.69.0
grpcio-tools==1.69.0
importlib_metadata==6.8.0
lxml==5.1.0
numpy==1.24.4
opencv-python==4.6.0.66
packaging==23.2
pillow==10.2.0
plum-dispatch==1.7.4
protobuf==5.29.3
pybit7z==0.3.2
PyMuPDF<1.21.0
pytesseract==0.3.10
python-docx==1.1.0
python-magic==0.4.27
snowflake-id==1.0.0
soupsieve==2.5
typing_extensions==4.9.0
zipp==3.17.0
zxing-cpp==2.1.0
Spire.Doc==13.1.0
paddleocr==2.7.0.2
paddlepaddle==2.5.2
loguru==0.7.3
torch==2.7.0
transformers==4.51.3